flows.json
[
    {
        "id": "e12b29f77bd12dd8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3e8251c2f05a30e",
        "type": "modbus-client",
        "name": "NodeRedModbusSerMaster",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyAMA5",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "19200",
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": "1000",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 43,
        "commandDelay": 10,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "c2b3dd79366cad0c",
        "type": "serial-port",
        "name": "tusb",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "0xAA",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "4",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "1fd0bebe415c9229",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "b423e96545d4ae28",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#0094ce",
            "primary": "#1800cc",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#787878"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "20px"
        }
    },
    {
        "id": "8aa6d6140cfde471",
        "type": "ui-page",
        "name": "My Process Control",
        "ui": "1fd0bebe415c9229",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "b423e96545d4ae28",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c34f777b31ff0d3e",
        "type": "ui-group",
        "name": "Plant - Left",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6cf2ef424cfcf0b9",
        "type": "ui-group",
        "name": "Plant - Right",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2cbecf0d0f45be7f",
        "type": "modbus-flex-getter",
        "z": "e12b29f77bd12dd8",
        "name": "Modbus Flex Getter",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "server": "d3e8251c2f05a30e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "8813ef3973a0af74",
                "eb25bce8f6c1cef0",
                "a6f2b4fa5b77580b",
                "705fab38a5e6a041"
            ],
            [
                "494fa91aa4de0c82",
                "46cc605b23d840fc"
            ]
        ]
    },
    {
        "id": "28805406b5806715",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "238",
        "func": "msg.payload = \n{ value: msg.payload, \n'fc': 4, 'unitid': 238, \n'address': 4031 , \n'quantity': 2 } \nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "2cbecf0d0f45be7f"
            ]
        ]
    },
    {
        "id": "f436f4129f37e35b",
        "type": "inject",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "28805406b5806715"
            ]
        ]
    },
    {
        "id": "1ffb43fdfd549a3e",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "43",
        "func": "msg.payload = \n{ value: msg.payload, \n'fc': 4, 'unitid': 43, \n'address': 9 , \n'quantity': 8 } \nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "2cbecf0d0f45be7f"
            ]
        ]
    },
    {
        "id": "8ee9c73b04bb9feb",
        "type": "inject",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "1ffb43fdfd549a3e"
            ]
        ]
    },
    {
        "id": "8813ef3973a0af74",
        "type": "modbus-response",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "registerShowMax": 20,
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "494fa91aa4de0c82",
        "type": "modbus-response",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "registerShowMax": 20,
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "9108c457792f22b8",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 3",
        "func": "\n/*\nglobal.set(\"addrInfo\", [{\n    'tag' : \"Tag1\",\n    'unitid' : 238,\n    'fc' : 4,\n    'address' : 9,\n    'quantity' : 8\n},{\n    'tag' : \"Tag2\",\n    'unitid' : 43,\n    'fc' : 4,\n    'address' : 9,\n    'quantity' : 8\n}\n]);\nglobal.set(\"index\",0);\nnode.warn(\"Global variables initialized\");\nreturn msg;\n*/\n\nglobal.set(\"addrInfo\", [\n    //{ tag: \"S238Name\", unitid: 238, fc: 4, address: 9, quantity: 8 },\n    //{ tag: \"S44Name\", unitid: 44, fc: 4, address: 9, quantity: 8 },\n    { tag: \"Tag3\", unitid: 238, fc: 4, address: 0x424, quantity: 2 },\n    { tag: \"Tag7\", unitid: 239, fc: 4, address: 0x424, quantity: 2 },\n    //{ tag: \"Tag4\", unitid: 238, fc: 4, address: 0xFBE, quantity: 2 },\n    { tag: \"Tag5\", unitid: 44, fc: 4, address: 0x4BA, quantity: 2 }\n    //{ tag: \"Tag6\", unitid: 44, fc: 4, address: 0x1009, quantity: 2 }\n]);\n\nglobal.set(\"index\", 0);\n\nnode.warn(\"Global variables initialized\");\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "050a5f5ab80f6fe2"
            ]
        ]
    },
    {
        "id": "59c665780d6deca2",
        "type": "inject",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "9108c457792f22b8"
            ]
        ]
    },
    {
        "id": "720edfd00f12a971",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 4",
        "func": "\n//msg.payload = global.get(\"addrInfo\")[global.get(\"index\")];\n//msg.topic = global.get(\"addrInfo\")[global.get(\"index\")].tag;\n//global.set(\"index\", global.get(\"index\") == 2 ? 0 : global.get(\"index\") + 1);\n//return msg;\n\nlet addrInfo = global.get(\"addrInfo\");\nlet index = global.get(\"index\") || 0;\n\n// Safety check\nif (!Array.isArray(addrInfo) || addrInfo.length === 0) {\n    node.error(\"addrInfo is not set or empty\", msg);\n    return null;\n}\n\nmsg.payload = addrInfo[index];\nmsg.topic = addrInfo[index].tag;\n\n// Increment index with wrap-around\nglobal.set(\"index\", (index + 1) % addrInfo.length);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "2cbecf0d0f45be7f"
            ]
        ]
    },
    {
        "id": "050a5f5ab80f6fe2",
        "type": "delay",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "720edfd00f12a971"
            ]
        ]
    },
    {
        "id": "eb25bce8f6c1cef0",
        "type": "delay",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "720edfd00f12a971"
            ]
        ]
    },
    {
        "id": "a6f2b4fa5b77580b",
        "type": "switch",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "S238Name",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "S44Name",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tag3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tag4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tag5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tag6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tag7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "805925f14f1566f4"
            ],
            [
                "8a855ede8208b82f"
            ],
            [
                "a5a30c720eb36274",
                "1e1c66ff03de7db5"
            ],
            [
                "b5228078ead7e436",
                "f707eb47c9571783"
            ],
            [
                "0fce9078dca3ebf7",
                "45dd83a27cae6866"
            ],
            [
                "5dc4017a9c404b09",
                "58e4c98f78c4e6a9"
            ],
            [
                "92adb35145275e3f"
            ]
        ]
    },
    {
        "id": "805925f14f1566f4",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a855ede8208b82f",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "3215e2534364999f",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "d2462d81b7229f45",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "cf76c889a15f72a6",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 620,
        "wires": []
    },
    {
        "id": "cb045b6573b6a5c3",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 700,
        "wires": []
    },
    {
        "id": "a5a30c720eb36274",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 6",
        "func": "// msg.payload = [0x13FF, 0x3F23]\n\nlet reg0 = msg.payload[0];\nlet reg1 = msg.payload[1];\n\nlet buf = Buffer.alloc(4);\n\n// Write second register first (high word), then first register (low word)\nbuf.writeUInt16BE(reg1, 0);\nbuf.writeUInt16BE(reg0, 2);\n\n// Now read as 32-bit float\nlet value = buf.readFloatBE(0);\n\n// Trim to 3 decimal places and convert back to number\nmsg.payload = Number(value.toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "3215e2534364999f",
                "515a07b9bd9bd0d9"
            ]
        ]
    },
    {
        "id": "b5228078ead7e436",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 13",
        "func": "// msg.payload = [0x13FF, 0x3F23]\n\nlet reg0 = msg.payload[0];\nlet reg1 = msg.payload[1];\n\nlet buf = Buffer.alloc(4);\n\n// Write second register first (high word), then first register (low word)\nbuf.writeUInt16BE(reg1, 0);\nbuf.writeUInt16BE(reg0, 2);\n\n// Now read as 32-bit float\nlet value = buf.readFloatBE(0);\n\n// Trim to 3 decimal places and convert back to number\nmsg.payload = Number(value.toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 540,
        "wires": [
            [
                "d2462d81b7229f45"
            ]
        ]
    },
    {
        "id": "0fce9078dca3ebf7",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 14",
        "func": "if (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    node.warn(\"Invalid payload\");\n    return [ { payload: null }, { payload: false } ]; // null to clear gauge, 0 = error\n}\n\nlet reg0 = msg.payload[0];\nlet reg1 = msg.payload[1];\n\nlet buf = Buffer.alloc(4);\n\n// Write second register first (high word), then first register (low word)\nbuf.writeUInt16BE(reg1, 0);\nbuf.writeUInt16BE(reg0, 2);\n\n// Now read as 32-bit float\nlet value = buf.readFloatBE(0);\n\n// If invalid float, send error\nif (!isFinite(value)) {\n    node.warn(\"Invalid float value\");\n    return [ { payload: null }, { payload: 0 } ];\n}\n\n// Trim to 2 decimal places\nlet finalValue = Number(value.toFixed(2));\n\n// Send value to gauge, and OK flag to second output\nreturn [ { payload: finalValue }, { payload: true } ];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 620,
        "wires": [
            [
                "cf76c889a15f72a6",
                "1cf767f2b361fc4c"
            ]
        ]
    },
    {
        "id": "5dc4017a9c404b09",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 15",
        "func": "// msg.payload = [0x13FF, 0x3F23]\n\nlet reg0 = msg.payload[0];\nlet reg1 = msg.payload[1];\n\nlet buf = Buffer.alloc(4);\n\n// Write second register first (high word), then first register (low word)\nbuf.writeUInt16BE(reg1, 0);\nbuf.writeUInt16BE(reg0, 2);\n\n// Now read as 32-bit float\nlet value = buf.readFloatBE(0);\n\n// Trim to 3 decimal places and convert back to number\nmsg.payload = Number(value.toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 700,
        "wires": [
            [
                "cb045b6573b6a5c3"
            ]
        ]
    },
    {
        "id": "1e1c66ff03de7db5",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 480,
        "wires": []
    },
    {
        "id": "f707eb47c9571783",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "45dd83a27cae6866",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 660,
        "wires": []
    },
    {
        "id": "58e4c98f78c4e6a9",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "515a07b9bd9bd0d9",
        "type": "ui-gauge",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "group": "c34f777b31ff0d3e",
        "order": 13,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "MB 238 A ox424",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "mm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "400",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "700",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "1000",
        "sizeThickness": "16",
        "sizeGap": 4,
        "sizeKeyThickness": "8",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1040,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "1cf767f2b361fc4c",
        "type": "ui-gauge",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "group": "c34f777b31ff0d3e",
        "order": 14,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0.5",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "1",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1010,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "705fab38a5e6a041",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "46cc605b23d840fc",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "bc25559705c92bef",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "92adb35145275e3f",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 16",
        "func": "// Output array: [gaugeValue, errorFlag]\n\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    node.warn(\"Invalid payload\");\n    return [ { payload: null }, { payload: false } ]; // null to clear gauge, 0 = error\n}\n\nlet reg0 = msg.payload[0];\nlet reg1 = msg.payload[1];\n\nlet buf = Buffer.alloc(4);\n\n// Write second register first (high word), then first register (low word)\nbuf.writeUInt16BE(reg1, 0);\nbuf.writeUInt16BE(reg0, 2);\n\n// Now read as 32-bit float\nlet value = buf.readFloatBE(0);\n\n// If invalid float, send error\nif (!isFinite(value)) {\n    node.warn(\"Invalid float value\");\n    return [ { payload: null }, { payload: 0 } ];\n}\n\n// Trim to 2 decimal places\nlet finalValue = Number(value.toFixed(2));\n\n// Send value to gauge, and OK flag to second output\nreturn [ { payload: finalValue }, { payload: true } ];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "bc25559705c92bef"
            ],
            [
                "c1578a53e2b5658e"
            ]
        ]
    },
    {
        "id": "c1578a53e2b5658e",
        "type": "debug",
        "z": "e12b29f77bd12dd8",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "b6428b2dbbc5401d",
        "type": "serial request",
        "z": "e12b29f77bd12dd8",
        "name": "",
        "serial": "c2b3dd79366cad0c",
        "x": 570,
        "y": 1660,
        "wires": [
            [
                "3ff00e71ce801674"
            ]
        ]
    },
    {
        "id": "e7f025e71380f24f",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 5",
        "func": "// Inputs:\n// msg.payload = { relay: N, state: \"ON\" or \"OFF\", bankByte: <number> }\n\nconst relayNum = msg.payload.relay;\nconst state = msg.payload.state.toUpperCase();\nconst bankByte = msg.payload.bankByte;\n\nif (relayNum < 1 || relayNum > 8) {\n    node.error(\"Relay number must be 1 to 8\", msg);\n    return null;\n}\n\nif (typeof bankByte !== 'number') {\n    node.error(\"bankByte must be a number\", msg);\n    return null;\n}\n\nconst header = 0xAA;\nconst cmd1 = 0x03;\nconst cmd2 = 0xFE;\n\nlet relayByte;\nif (state === \"ON\") {\n    relayByte = 108 + (relayNum - 1);\n} else if (state === \"OFF\") {\n    relayByte = 100 + (relayNum - 1);\n} else {\n    node.error(\"State must be ON or OFF\", msg);\n    return null;\n}\n\nconst command = [header, cmd1, cmd2, relayByte, bankByte];\nconst checksum = command.reduce((sum, b) => sum + b, 0) % 256;\ncommand.push(checksum);\n\nmsg.payload = Buffer.from(command);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1720,
        "wires": [
            [
                "b6428b2dbbc5401d"
            ]
        ]
    },
    {
        "id": "3ff00e71ce801674",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 7",
        "func": "let bytes = msg.payload;\n\nif (!Buffer.isBuffer(bytes)) {\n    node.error(\"Payload is not a Buffer\", msg);\n    return null;\n}\n\nif (bytes.length !== 4) {\n    node.error(\"Invalid response length\", msg);\n    return null;\n}\n\nconst header1 = bytes[0];\nconst header2 = bytes[1];\nconst dataByte = bytes[2];\nconst checksum = bytes[3];\n\n// Validate headers\nif (header1 !== 0xAA || header2 !== 0x01) {\n    node.error(\"Invalid response header\", msg);\n    return null;\n}\n\n// Calculate expected checksum\nconst calcChecksum = (header1 + header2 + dataByte) % 256;\nif (calcChecksum !== checksum) {\n    node.error(`Checksum mismatch. Got ${checksum}, expected ${calcChecksum}`, msg);\n    return null;\n}\n\nif (checksum === 0x00) {\n    // On/off response - just send null on all outputs to keep ui-leds unchanged\n    return [null, null, null, null, null, null, null, null];\n} else {\n    // Status response - send relay states on outputs 1-8\n    let msgs = [];\n    for (let i = 0; i < 8; i++) {\n        msgs.push({\n            topic: `relay${i + 1}`,\n            payload: !!((dataByte >> i) & 1)\n        });\n    }\n    return msgs;\n}\n",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1660,
        "wires": [
            [
                "45e6a21e332c56de"
            ],
            [
                "f6f1ac038735a428"
            ],
            [
                "789629d03eb746e5"
            ],
            [
                "3e8992db0afa2d10"
            ],
            [
                "d719829eb07f3a64"
            ],
            [
                "d780a8d2d57664c8"
            ],
            [
                "8b56084e3c930843"
            ],
            [
                "b43e3b3567202f37"
            ]
        ]
    },
    {
        "id": "11354f94d918a3dd",
        "type": "function",
        "z": "e12b29f77bd12dd8",
        "name": "function 8",
        "func": "const command = [0xAA, 0x03, 0xFE, 0x7C, 0x01];\nconst checksum = command.reduce((sum, b) => sum + b, 0) % 256;\ncommand.push(checksum);\n\nmsg.payload = Buffer.from(command);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1740,
        "wires": [
            [
                "b6428b2dbbc5401d"
            ]
        ]
    },
    {
        "id": "2cae27dbcd74c5eb",
        "type": "inject",
        "z": "e12b29f77bd12dd8",
        "name": "Check Status - Auto 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 1800,
        "wires": [
            [
                "11354f94d918a3dd"
            ]
        ]
    },
    {
        "id": "faa11bfa1a88dbff",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 1 ON",
        "label": "Relay 1 ON",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 1, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1520,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "ecdce4d9e8e55554",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 1 OFF",
        "label": "Relay 1 OFF",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 1, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "5de00d32269a228e",
        "type": "comment",
        "z": "e12b29f77bd12dd8",
        "name": "Right Side (Relay 5 to 8)",
        "info": "",
        "x": 1030,
        "y": 1700,
        "wires": []
    },
    {
        "id": "45e6a21e332c56de",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R1LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "R1 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f6f1ac038735a428",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R2LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 6,
        "width": "2",
        "height": "1",
        "label": "R2 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1560,
        "wires": []
    },
    {
        "id": "789629d03eb746e5",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R3LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 9,
        "width": "2",
        "height": "1",
        "label": "R3 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1600,
        "wires": []
    },
    {
        "id": "3e8992db0afa2d10",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R4LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 12,
        "width": "2",
        "height": "1",
        "label": "R4 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1640,
        "wires": []
    },
    {
        "id": "d719829eb07f3a64",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R1LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "R1 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1740,
        "wires": []
    },
    {
        "id": "d780a8d2d57664c8",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R2LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 6,
        "width": "2",
        "height": "1",
        "label": "R2 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1780,
        "wires": []
    },
    {
        "id": "8b56084e3c930843",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R3LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 9,
        "width": "2",
        "height": "1",
        "label": "R3 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1820,
        "wires": []
    },
    {
        "id": "b43e3b3567202f37",
        "type": "ui-led",
        "z": "e12b29f77bd12dd8",
        "name": "R4LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 12,
        "width": "2",
        "height": "1",
        "label": "R4 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1860,
        "wires": []
    },
    {
        "id": "637ac55d4e47c06d",
        "type": "comment",
        "z": "e12b29f77bd12dd8",
        "name": "Left side (Relay 1 to 4)",
        "info": "",
        "x": 1020,
        "y": 1480,
        "wires": []
    },
    {
        "id": "552e455a01204f03",
        "type": "comment",
        "z": "e12b29f77bd12dd8",
        "name": "Left Side (Relay 1 to 4)",
        "info": "",
        "x": 160,
        "y": 1480,
        "wires": []
    },
    {
        "id": "628f83ba03212505",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 2 ON",
        "label": "Relay 2 ON",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 2, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "d1a5f0df5bd4222b",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 2 OFF",
        "label": "Relay 2 OFF",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 2, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "7cc092f9d285c4db",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 3 ON",
        "label": "Relay 3 ON",
        "order": 7,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 3, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "905a5bddff096e00",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 3 OFF",
        "label": "Relay 3 OFF",
        "order": 8,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 3, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1600,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "9a584a202d8bafc8",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 4 ON",
        "label": "Relay 4 ON",
        "order": 10,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 4, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1640,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "d34d3337b197f40f",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 4 OFF",
        "label": "Relay 4 OFF",
        "order": 11,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 4, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1640,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "13781ce17441b3e2",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 1 ON",
        "label": "Relay 1 ON",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 5, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1860,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "63782134a1022346",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 1 OFF",
        "label": "Relay 1 OFF",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 5, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1860,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "62d4af3121dd9254",
        "type": "comment",
        "z": "e12b29f77bd12dd8",
        "name": "Right Side (Relay 5 to 8)",
        "info": "",
        "x": 170,
        "y": 1820,
        "wires": []
    },
    {
        "id": "8b604957b7e4ae8b",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 2 ON",
        "label": "Relay 2 ON",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 6, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1900,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "cd24391e08359fe2",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 2 OFF",
        "label": "Relay 2 OFF",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 6, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1900,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "955004e373860e1d",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 3 ON",
        "label": "Relay 3 ON",
        "order": 7,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 7, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1940,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "3c1a7c63a94bad06",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 3 OFF",
        "label": "Relay 3 OFF",
        "order": 8,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 7, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1940,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "176e927584299fd5",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 4 ON",
        "label": "Relay 4 ON",
        "order": 10,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 8, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1980,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "07d0a7755be6e9df",
        "type": "ui-button",
        "z": "e12b29f77bd12dd8",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 4 OFF",
        "label": "Relay 4 OFF",
        "order": 11,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 8, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1980,
        "wires": [
            [
                "e7f025e71380f24f"
            ]
        ]
    },
    {
        "id": "8d8243484a3ef195",
        "type": "comment",
        "z": "e12b29f77bd12dd8",
        "name": "Timeout 1000ms",
        "info": "",
        "x": 560,
        "y": 1620,
        "wires": []
    },
    {
        "id": "baf038accf73d508",
        "type": "comment",
        "z": "e12b29f77bd12dd8",
        "name": "Trigger Status check every 1s",
        "info": "",
        "x": 640,
        "y": 1840,
        "wires": []
    }
]