flows.json
[
    {
        "id": "f00a2f75f92239ad",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3e8251c2f05a30e",
        "type": "modbus-client",
        "name": "NodeRedModbusSerMaster",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyAMA5",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "19200",
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": "1000",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 43,
        "commandDelay": 10,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "c2b3dd79366cad0c",
        "type": "serial-port",
        "name": "tusb",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "0xAA",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "4",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "1fd0bebe415c9229",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "b423e96545d4ae28",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#0094ce",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#787878"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "20px"
        }
    },
    {
        "id": "8aa6d6140cfde471",
        "type": "ui-page",
        "name": "My Process Control",
        "ui": "1fd0bebe415c9229",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "b423e96545d4ae28",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "c34f777b31ff0d3e",
        "type": "ui-group",
        "name": "Plant Relays - Left",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6cf2ef424cfcf0b9",
        "type": "ui-group",
        "name": "Plant Relays - Right",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b135539d7634acf8",
        "type": "ui-group",
        "name": "Plant Drive - Left",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "13816c2f51c27294",
        "type": "ui-group",
        "name": "Plant Drive - Right",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "44de1c430cbb5601",
        "type": "ui-group",
        "name": "Plant Sensors - Left",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dcc0565feb8882f8",
        "type": "ui-group",
        "name": "Plant Sensors - Right",
        "page": "8aa6d6140cfde471",
        "width": 6,
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "969f5026bd873d72",
        "type": "modbus-flex-getter",
        "z": "f00a2f75f92239ad",
        "name": "Modbus Flex Getter",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "d3e8251c2f05a30e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "6be932af4beeb0ec",
                "a2ee2948cd4e9836",
                "6456e84130ac57de",
                "6ce06a5efee4dd46"
            ],
            []
        ]
    },
    {
        "id": "6be932af4beeb0ec",
        "type": "modbus-response",
        "z": "f00a2f75f92239ad",
        "name": "",
        "registerShowMax": 20,
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "fa541910922f8b81",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "function 3",
        "func": "\n/*\nglobal.set(\"addrInfo\", [{\n    'tag' : \"Tag1\",\n    'unitid' : 238,\n    'fc' : 4,\n    'address' : 9,\n    'quantity' : 8\n},{\n    'tag' : \"Tag2\",\n    'unitid' : 43,\n    'fc' : 4,\n    'address' : 9,\n    'quantity' : 8\n}\n]);\nglobal.set(\"index\",0);\nnode.warn(\"Global variables initialized\");\nreturn msg;\n*/\n\nglobal.set(\"addrInfo\", [\n    //{ tag: \"S238Name\", unitid: 238, fc: 4, address: 9, quantity: 8 },\n    //{ tag: \"S44Name\", unitid: 44, fc: 4, address: 9, quantity: 8 },\n    //{ tag: \"LEE872avg\", unitid: 238, fc: 4, address: 0x424, quantity: 2 },\n    //{ tag: \"LEE872raw\", unitid: 238, fc: 4, address: 0x426, quantity: 2 },\n    //{ tag: \"LEE872P\", unitid: 238, fc: 4, address: 0x4B0, quantity: 2 },\n    //{ tag: \"LEE872T\", unitid: 238, fc: 4, address: 0x3EA, quantity: 2 },\n    //{ tag: \"LEE872RH\", unitid: 238, fc: 4, address: 0x3FC, quantity: 2 },\n    //{ tag: \"Tag7\", unitid: 239, fc: 4, address: 0x424, quantity: 2 },\n    //{ tag: \"Tag4\", unitid: 238, fc: 4, address: 0xFBE, quantity: 2 },\n    { tag: \"TagX\", unitid: 1, fc: 3, address: 2057, quantity: 6 },\n    { tag: \"TagX2\", unitid: 2, fc: 3, address: 2057, quantity: 6 },\n    { tag: \"Tag5\", unitid: 44, fc: 4, address: 0x300, quantity: 2 }\n    //{ tag: \"Tag6\", unitid: 44, fc: 4, address: 0x1009, quantity: 2 }\n]);\n\nglobal.set(\"index\", 0);\n\nnode.warn(\"Global variables initialized\");\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "99a1f55a3c57d3d0"
            ]
        ]
    },
    {
        "id": "cbc1deafab050cd9",
        "type": "inject",
        "z": "f00a2f75f92239ad",
        "name": "Auto Inject Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "fa541910922f8b81"
            ]
        ]
    },
    {
        "id": "6984c3f189f81103",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "function 4",
        "func": "\n//msg.payload = global.get(\"addrInfo\")[global.get(\"index\")];\n//msg.topic = global.get(\"addrInfo\")[global.get(\"index\")].tag;\n//global.set(\"index\", global.get(\"index\") == 2 ? 0 : global.get(\"index\") + 1);\n//return msg;\n\nlet addrInfo = global.get(\"addrInfo\");\nlet index = global.get(\"index\") || 0;\n\n// Safety check\nif (!Array.isArray(addrInfo) || addrInfo.length === 0) {\n    node.error(\"addrInfo is not set or empty\", msg);\n    return null;\n}\n\nmsg.payload = addrInfo[index];\nmsg.topic = addrInfo[index].tag;\n\n// Increment index with wrap-around\nglobal.set(\"index\", (index + 1) % addrInfo.length);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "969f5026bd873d72"
            ]
        ]
    },
    {
        "id": "99a1f55a3c57d3d0",
        "type": "delay",
        "z": "f00a2f75f92239ad",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "6984c3f189f81103"
            ]
        ]
    },
    {
        "id": "a2ee2948cd4e9836",
        "type": "delay",
        "z": "f00a2f75f92239ad",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "6984c3f189f81103"
            ]
        ]
    },
    {
        "id": "6456e84130ac57de",
        "type": "debug",
        "z": "f00a2f75f92239ad",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "c6b5f852d287c501",
        "type": "serial request",
        "z": "f00a2f75f92239ad",
        "name": "",
        "serial": "c2b3dd79366cad0c",
        "x": 570,
        "y": 1860,
        "wires": [
            [
                "43fc782794b73c3a"
            ]
        ]
    },
    {
        "id": "eb8387c9a439f60f",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "function 5",
        "func": "// Inputs:\n// msg.payload = { relay: N, state: \"ON\" or \"OFF\", bankByte: <number> }\n\nconst relayNum = msg.payload.relay;\nconst state = msg.payload.state.toUpperCase();\nconst bankByte = msg.payload.bankByte;\n\nif (relayNum < 1 || relayNum > 8) {\n    node.error(\"Relay number must be 1 to 8\", msg);\n    return null;\n}\n\nif (typeof bankByte !== 'number') {\n    node.error(\"bankByte must be a number\", msg);\n    return null;\n}\n\nconst header = 0xAA;\nconst cmd1 = 0x03;\nconst cmd2 = 0xFE;\n\nlet relayByte;\nif (state === \"ON\") {\n    relayByte = 108 + (relayNum - 1);\n} else if (state === \"OFF\") {\n    relayByte = 100 + (relayNum - 1);\n} else {\n    node.error(\"State must be ON or OFF\", msg);\n    return null;\n}\n\nconst command = [header, cmd1, cmd2, relayByte, bankByte];\nconst checksum = command.reduce((sum, b) => sum + b, 0) % 256;\ncommand.push(checksum);\n\nmsg.payload = Buffer.from(command);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1920,
        "wires": [
            [
                "c6b5f852d287c501"
            ]
        ]
    },
    {
        "id": "43fc782794b73c3a",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "function 7",
        "func": "let bytes = msg.payload;\n\nif (!Buffer.isBuffer(bytes)) {\n    node.error(\"Payload is not a Buffer\", msg);\n    return null;\n}\n\nif (bytes.length !== 4) {\n    node.error(\"Invalid response length\", msg);\n    return null;\n}\n\nconst header1 = bytes[0];\nconst header2 = bytes[1];\nconst dataByte = bytes[2];\nconst checksum = bytes[3];\n\n// Validate headers\nif (header1 !== 0xAA || header2 !== 0x01) {\n    node.error(\"Invalid response header\", msg);\n    return null;\n}\n\n// Calculate expected checksum\nconst calcChecksum = (header1 + header2 + dataByte) % 256;\nif (calcChecksum !== checksum) {\n    node.error(`Checksum mismatch. Got ${checksum}, expected ${calcChecksum}`, msg);\n    return null;\n}\n\nif (checksum === 0x00) {\n    // On/off response - just send null on all outputs to keep ui-leds unchanged\n    return [null, null, null, null, null, null, null, null];\n} else {\n    // Status response - send relay states on outputs 1-8\n    let msgs = [];\n    for (let i = 0; i < 8; i++) {\n        msgs.push({\n            topic: `relay${i + 1}`,\n            payload: !!((dataByte >> i) & 1)\n        });\n    }\n    return msgs;\n}\n",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1860,
        "wires": [
            [
                "45e468ba6b869995"
            ],
            [
                "858ea52935d837df"
            ],
            [
                "fdff1ecd523b1f5a"
            ],
            [
                "427b48bf67b4ed6f"
            ],
            [
                "dd26e86f8dd8cd81"
            ],
            [
                "6e0875f350c8debb"
            ],
            [
                "e7b859555fcf071a"
            ],
            [
                "72b06eb5e1f83b43"
            ]
        ]
    },
    {
        "id": "d5a333c1f54b5b5a",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "function 8",
        "func": "const command = [0xAA, 0x03, 0xFE, 0x7C, 0x01];\nconst checksum = command.reduce((sum, b) => sum + b, 0) % 256;\ncommand.push(checksum);\n\nmsg.payload = Buffer.from(command);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1940,
        "wires": [
            [
                "c6b5f852d287c501"
            ]
        ]
    },
    {
        "id": "574be7c1bf105790",
        "type": "inject",
        "z": "f00a2f75f92239ad",
        "name": "Check Status - Auto 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 2000,
        "wires": [
            [
                "d5a333c1f54b5b5a"
            ]
        ]
    },
    {
        "id": "49f1e36d6a5b6783",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 1 ON",
        "label": "Relay 1 ON",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 1, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "a6e0cab4f9239864",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 1 OFF",
        "label": "Relay 1 OFF",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 1, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1720,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "272fe7a3b50ad420",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Right Side (Relay 5 to 8)",
        "info": "",
        "x": 1030,
        "y": 1900,
        "wires": []
    },
    {
        "id": "45e468ba6b869995",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R1LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "R1 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1720,
        "wires": []
    },
    {
        "id": "858ea52935d837df",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R2LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 6,
        "width": "2",
        "height": "1",
        "label": "R2 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1760,
        "wires": []
    },
    {
        "id": "fdff1ecd523b1f5a",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R3LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 9,
        "width": "2",
        "height": "1",
        "label": "R3 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1800,
        "wires": []
    },
    {
        "id": "427b48bf67b4ed6f",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R4LedLeft",
        "group": "c34f777b31ff0d3e",
        "order": 12,
        "width": "2",
        "height": "1",
        "label": "R4 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1840,
        "wires": []
    },
    {
        "id": "dd26e86f8dd8cd81",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R1LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 3,
        "width": "2",
        "height": "1",
        "label": "R1 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1940,
        "wires": []
    },
    {
        "id": "6e0875f350c8debb",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R2LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 6,
        "width": "2",
        "height": "1",
        "label": "R2 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 1980,
        "wires": []
    },
    {
        "id": "e7b859555fcf071a",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R3LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 9,
        "width": "2",
        "height": "1",
        "label": "R3 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 2020,
        "wires": []
    },
    {
        "id": "72b06eb5e1f83b43",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "R4LedRight",
        "group": "6cf2ef424cfcf0b9",
        "order": 12,
        "width": "2",
        "height": "1",
        "label": "R4 Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 990,
        "y": 2060,
        "wires": []
    },
    {
        "id": "55dd6db62264e56a",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Left side (Relay 1 to 4)",
        "info": "",
        "x": 1020,
        "y": 1680,
        "wires": []
    },
    {
        "id": "92c749c85a5600e5",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Left Side (Relay 1 to 4)",
        "info": "",
        "x": 160,
        "y": 1680,
        "wires": []
    },
    {
        "id": "9b9794a83cc37abb",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 2 ON",
        "label": "Relay 2 ON",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 2, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1760,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "338233abd1b035ff",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 2 OFF",
        "label": "Relay 2 OFF",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 2, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1760,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "860c1c44085243bd",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 3 ON",
        "label": "Relay 3 ON",
        "order": 7,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 3, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1800,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "b7d82d7a78078858",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 3 OFF",
        "label": "Relay 3 OFF",
        "order": 8,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 3, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1800,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "8a07da72fb3c2077",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 4 ON",
        "label": "Relay 4 ON",
        "order": 10,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 4, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1840,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "7fb185b3fefc096d",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "c34f777b31ff0d3e",
        "name": "Relay 4 OFF",
        "label": "Relay 4 OFF",
        "order": 11,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 4, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1840,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "e80bc007032541ef",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 1 ON",
        "label": "Relay 1 ON",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 5, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 2060,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "e75ec752761d5c9e",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 1 OFF",
        "label": "Relay 1 OFF",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 5, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 2060,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "9a02bf3fe5103534",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Right Side (Relay 5 to 8)",
        "info": "",
        "x": 170,
        "y": 2020,
        "wires": []
    },
    {
        "id": "8dc3327c32962c0f",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 2 ON",
        "label": "Relay 2 ON",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 6, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 2100,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "f7a63a4920654c9a",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 2 OFF",
        "label": "Relay 2 OFF",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 6, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 2100,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "c2bd616a94191e04",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 3 ON",
        "label": "Relay 3 ON",
        "order": 7,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 7, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 2140,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "061c043e2004d0e7",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 3 OFF",
        "label": "Relay 3 OFF",
        "order": 8,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 7, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 2140,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "144322c04704f48e",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 4 ON",
        "label": "Relay 4 ON",
        "order": 10,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 8, \"state\": \"ON\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 2180,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "c4dcd78277d5422a",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "6cf2ef424cfcf0b9",
        "name": "Relay 4 OFF",
        "label": "Relay 4 OFF",
        "order": 11,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{ \"relay\": 8, \"state\": \"OFF\", \"bankByte\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 2180,
        "wires": [
            [
                "eb8387c9a439f60f"
            ]
        ]
    },
    {
        "id": "67bb655520f328f3",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Timeout 1000ms",
        "info": "",
        "x": 560,
        "y": 1820,
        "wires": []
    },
    {
        "id": "2162018a01d84a2c",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Trigger Status check every 1s",
        "info": "",
        "x": 640,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6ce06a5efee4dd46",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "Switch Function",
        "func": "// --- Define tags ---\nconst swapTags = [\"LEE872avg\", \"LEE872raw\", \"LEE872P\", \"LEE872T\", \"LEE872RH\"];\nconst noSwapTags = [\"tag9\", \"tag8\", \"TagX\", \"TagX2\"];\n\n// Merge for output order\nconst tags = [...swapTags, ...noSwapTags];\nlet outputs = tags.map(() => null);\n\n// --- Lookup maps for per-tag math ---\nconst noSwapMath = {\n    tag9: v => v * 10,\n    tag8: v => v / 10,\n};\n\nconst swapMath = {\n    LEE872avg: v => v / 2,\n    LEE872raw: v => v / 3,\n    LEE872P: v => v / 5,\n    LEE872T: v => v,   // identity\n    LEE872RH: v => v,   // identity\n};\n\n// --- Helpers ---\nfunction readInt32BE(regs) {\n    const buf = Buffer.alloc(4);\n    buf.writeUInt16BE(regs[0], 0);\n    buf.writeUInt16BE(regs[1], 2);\n    return buf.readInt32BE(0);\n}\n\nfunction readFloat32Swap(regs) {\n    const buf = Buffer.alloc(4);\n    buf.writeUInt16BE(regs[1], 0);\n    buf.writeUInt16BE(regs[0], 2);\n    return buf.readFloatBE(0);\n}\n\n// --- Main processing ---\nlet regs = msg.payload;\nif (!Array.isArray(regs)) {\n    node.error(\"Payload is not an array\", msg);\n    return null;\n}\n\nlet value;\n\nif (noSwapTags.includes(msg.topic)) {\n    if (msg.topic === \"TagX\" || msg.topic === \"TagX2\") {\n        if (regs.length < 6) {\n            node.error(`${msg.topic} requires 6 registers`, msg);\n            return null;\n        }\n        value = regs.slice(0, 6);   // keep as array\n        node.warn(`${msg.topic} value handled as array of 6 registers`);\n    } else {\n        value = readInt32BE(regs);\n        if (noSwapMath[msg.topic]) value = noSwapMath[msg.topic](value);\n    }\n}\nelse if (swapTags.includes(msg.topic)) {\n    value = readFloat32Swap(regs);\n    if (swapMath[msg.topic]) value = swapMath[msg.topic](value);\n}\nelse {\n    node.warn(`Unknown tag/topic: ${msg.topic}`);\n    return null;\n}\n\n// --- Assign output ---\nconst index = tags.indexOf(msg.topic);\nif (index === -1) {\n    node.warn(`Unknown tag/topic: ${msg.topic}`);\n    return null;\n}\n\nmsg.payload = value;\noutputs[index] = msg;\n\nreturn outputs;\n",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 320,
        "wires": [
            [
                "15e49eb3401d7161",
                "d5e0743a80473e30"
            ],
            [
                "df85684420b27cbd"
            ],
            [],
            [
                "9f3868773b84d2b6",
                "039cf2d05aae49ce"
            ],
            [],
            [],
            [],
            [
                "6a43d69ea6db31aa"
            ],
            [
                "477223d0432c445c"
            ]
        ]
    },
    {
        "id": "9f3868773b84d2b6",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "L CO2 Temp",
        "group": "44de1c430cbb5601",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "CO2 Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Celsius (°C)",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "15e49eb3401d7161",
        "type": "debug",
        "z": "f00a2f75f92239ad",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 240,
        "wires": []
    },
    {
        "id": "ba61229ee55707bc",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Delay between each Modbus Command",
        "info": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "7508616b907352a6",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Start Delay",
        "info": "",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "dfed425fcf95422d",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Modbus Registers",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "c80a30aa5d3d9c7b",
        "type": "comment",
        "z": "f00a2f75f92239ad",
        "name": "Separate based on Tags",
        "info": "",
        "x": 130,
        "y": 420,
        "wires": []
    },
    {
        "id": "d5e0743a80473e30",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "R CO2 Avg T",
        "group": "dcc0565feb8882f8",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "CO2 Avg - ppm",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "ppm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#24b5e5",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": "4",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "df85684420b27cbd",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "R CO2 raw T",
        "group": "dcc0565feb8882f8",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "CO2 raw - ppm",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "ppm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#24b5e5",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b9cc117f0400f21f",
        "type": "modbus-flex-write",
        "z": "f00a2f75f92239ad",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "d3e8251c2f05a30e",
        "emptyMsgOnFail": true,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 470,
        "y": 1140,
        "wires": [
            [
                "4f54d83faca9465d"
            ],
            [
                "e97be8d3b068f6b2"
            ]
        ]
    },
    {
        "id": "4f54d83faca9465d",
        "type": "modbus-response",
        "z": "f00a2f75f92239ad",
        "name": "",
        "registerShowMax": 20,
        "x": 690,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e97be8d3b068f6b2",
        "type": "modbus-response",
        "z": "f00a2f75f92239ad",
        "name": "",
        "registerShowMax": 20,
        "x": 690,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5e610a5d3514f1d5",
        "type": "ui-slider",
        "z": "f00a2f75f92239ad",
        "group": "b135539d7634acf8",
        "name": "Left Slider",
        "label": "Frequency",
        "tooltip": "",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "20",
        "max": "60",
        "step": "5",
        "className": "my-slider",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 140,
        "y": 1360,
        "wires": [
            [
                "210f32d5557c3e2b"
            ]
        ]
    },
    {
        "id": "ba54712547851fb4",
        "type": "ui-slider",
        "z": "f00a2f75f92239ad",
        "group": "13816c2f51c27294",
        "name": "Right Slider",
        "label": "Frequency",
        "tooltip": "",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "20",
        "max": "60",
        "step": "5",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 790,
        "y": 1380,
        "wires": [
            [
                "0f8a862fb77327b1"
            ]
        ]
    },
    {
        "id": "0c76598c49d4a5dc",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "b135539d7634acf8",
        "name": "Left Motor ON",
        "label": "Motor ON",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{   \"address\": 1798,   \"value\": 1,   \"unitid\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 1420,
        "wires": [
            [
                "4845b64f7363a36b"
            ]
        ]
    },
    {
        "id": "5b76c003ca2c8f12",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "b135539d7634acf8",
        "name": "Left Motor OFF",
        "label": "Motor OFF",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{   \"address\": 1798,   \"value\": 0,   \"unitid\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 340,
        "y": 1420,
        "wires": [
            [
                "4845b64f7363a36b"
            ]
        ]
    },
    {
        "id": "d763d534edb299f5",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "Left Motor LED",
        "group": "b135539d7634acf8",
        "order": 5,
        "width": "2",
        "height": "1",
        "label": "Motor Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "79f380f1252ae581",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "13816c2f51c27294",
        "name": "Right Motor ON",
        "label": "Motor ON",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{   \"address\": 1798,   \"value\": 1,   \"unitid\": 2 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 800,
        "y": 1420,
        "wires": [
            [
                "8e34a38308520df9"
            ]
        ]
    },
    {
        "id": "bb501f69b92d5060",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "13816c2f51c27294",
        "name": "Right Motor OFF",
        "label": "Motor OFF",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{   \"address\": 1798,   \"value\": 0,   \"unitid\": 2 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1030,
        "y": 1420,
        "wires": [
            [
                "8e34a38308520df9"
            ]
        ]
    },
    {
        "id": "ffc9ac25d888f816",
        "type": "ui-led",
        "z": "f00a2f75f92239ad",
        "name": "Right Motor LED",
        "group": "13816c2f51c27294",
        "order": 5,
        "width": "2",
        "height": "1",
        "label": "Motor Status",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": true,
        "showGlow": true,
        "x": 480,
        "y": 820,
        "wires": []
    },
    {
        "id": "5bb2a9b09e7166fc",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Left Motor Freq",
        "group": "b135539d7634acf8",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Frequency",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 480,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "da3267aef71d45eb",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Left CurrentLabel",
        "group": "b135539d7634acf8",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Current (% Rated)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 130,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "06981ef2c85a8448",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Left Current",
        "group": "b135539d7634acf8",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 470,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "22b0de3935b34614",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Left Volatge Label",
        "group": "b135539d7634acf8",
        "order": 9,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Voltage (V)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 130,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "8a303fd5ac8cf624",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Left Voltage",
        "group": "b135539d7634acf8",
        "order": 10,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Frequency",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2f4a4eb51e942ace",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Left Power Label",
        "group": "b135539d7634acf8",
        "order": 11,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Power (% Rated)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 130,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "da8756ffa7369277",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Left Power",
        "group": "b135539d7634acf8",
        "order": 12,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Frequency",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffffff",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "0",
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 470,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c53aa7834e4da2ec",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Right CurrentLabel",
        "group": "13816c2f51c27294",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Current (A)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "968e4595331163e6",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Right Current",
        "group": "13816c2f51c27294",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Frequency",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffffff",
                "text": "",
                "textType": "value"
            },
            {
                "from": "50",
                "color": "#59e63d",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 470,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "9efbaed8f08f5ba7",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Right Volatge Label",
        "group": "13816c2f51c27294",
        "order": 9,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Voltage (V)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "2c674a6743ed4a73",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Right Voltage",
        "group": "13816c2f51c27294",
        "order": 10,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Frequency",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 470,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "013b9901ad7d8e43",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Right Power Label",
        "group": "13816c2f51c27294",
        "order": 11,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Power (W)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "4851a488b4f784e9",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Right Power",
        "group": "13816c2f51c27294",
        "order": 12,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Frequency",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#ffffff",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 470,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "18927627e6acac0f",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "b135539d7634acf8",
        "name": "Left Slider btn",
        "label": "Set",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{   \"address\": 1797,   \"unitid\": 1 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 380,
        "y": 1360,
        "wires": [
            [
                "4845b64f7363a36b"
            ]
        ]
    },
    {
        "id": "d63d32ed154f681d",
        "type": "ui-button",
        "z": "f00a2f75f92239ad",
        "group": "13816c2f51c27294",
        "name": "Right Slider btn",
        "label": "Set",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "{   \"address\": 1797,   \"unitid\": 2 }",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1020,
        "y": 1380,
        "wires": [
            [
                "8e34a38308520df9"
            ]
        ]
    },
    {
        "id": "bbf065a0748bdbff",
        "type": "inject",
        "z": "f00a2f75f92239ad",
        "name": "Start Value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 45,
        "y": 1360,
        "wires": [
            [
                "5e610a5d3514f1d5"
            ]
        ],
        "l": false
    },
    {
        "id": "039cf2d05aae49ce",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "L CO2 Temp",
        "group": "44de1c430cbb5601",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "CO2 Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Celsius (°C)",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "210f32d5557c3e2b",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "Store Slider Val Globally",
        "func": "// Store the current slider value in flow.leftSliderValue\nflow.set(\"leftSliderValue\", msg.payload);\n\n// Optional warning for debugging\nnode.warn(\"Slider left value stored in flow context: \" + msg.payload);\n\n// Do not send anything downstream\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "0f8a862fb77327b1",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "Store Slider Val Globally",
        "func": "// Store the current slider value in flow.leftSliderValue\nflow.set(\"rightSliderValue\", msg.payload);\n\n// Optional warning for debugging\nnode.warn(\"Slider Right value stored in flow context: \" + msg.payload);\n\n// Do not send anything downstream\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "4845b64f7363a36b",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "Mb Packet Left",
        "func": "if (msg.payload && msg.payload.address !== undefined && msg.payload.unitid !== undefined) {\n\n    let val;\n\n    // If value is provided in the payload, use it\n    if (msg.payload.value !== undefined) {\n        val = Number(msg.payload.value);\n    }\n    // Otherwise, get it from the stored slider value\n    else {\n        val = flow.get(\"leftSliderValue\");\n        if (val === undefined || isNaN(val)) {\n            node.warn(\"Slider value not set or invalid, defaulting to 0\");\n            val = 0;\n        }\n        val = Number(val) * 100;\n    }\n\n    // Build Modbus Flex Write payload\n    msg.payload = {\n        fc: 6,                               // Write Single Register\n        unitid: Number(msg.payload.unitid),  // From button\n        address: Number(msg.payload.address),// From button\n        quantity: 1,\n        value: [val]                         // From slider or fixed button value\n    };\n\n    return msg;\n}\n\n// Ignore other messages\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "b9cc117f0400f21f",
                "66c1da7ac63b8f0e"
            ]
        ]
    },
    {
        "id": "8e34a38308520df9",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "Mb Packet Right",
        "func": "if (msg.payload && msg.payload.address !== undefined && msg.payload.unitid !== undefined) {\n\n    let val;\n\n    // If value is provided in the payload, use it\n    if (msg.payload.value !== undefined) {\n        val = Number(msg.payload.value);\n    }\n    // Otherwise, get it from the stored slider value\n    else {\n        val = flow.get(\"rightSliderValue\");\n        if (val === undefined || isNaN(val)) {\n            node.warn(\"Slider value not set or invalid, defaulting to 0\");\n            val = 0;\n        }\n        val = Number(val) * 100;\n    }\n\n    // Build Modbus Flex Write payload\n    msg.payload = {\n        fc: 6,                               // Write Single Register\n        unitid: Number(msg.payload.unitid),  // From button\n        address: Number(msg.payload.address),// From button\n        quantity: 1,\n        value: [val]                         // From slider or fixed button value\n    };\n\n    return msg;\n}\n\n// Ignore other messages\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1300,
        "wires": [
            [
                "b9cc117f0400f21f",
                "2f97ab33a7fde799"
            ]
        ]
    },
    {
        "id": "6a43d69ea6db31aa",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "split left drive",
        "func": "// --- Expect input: msg.payload = [f, p, i, v, extra1, motorLed]\nif (!Array.isArray(msg.payload) || msg.payload.length < 6) {\n    node.error(\"Expected an array of at least 6 values (TagX/TagX2)\", msg);\n    return null;\n}\n\n// Destructure 6 values\nconst [frequency, power, current, voltage, extra1, motorLedRaw] = msg.payload;\n\n// Scale & send each value to its own output\nreturn [\n    { payload: frequency / 100 }, // Output 1 - Frequency\n    { payload: power / 100 },     // Output 2 - Power\n    { payload: current / 100 },   // Output 3 - Current\n    { payload: voltage / 10 },    // Output 4 - Voltage\n    { payload: extra1 },          // Output 5 - Extra value (raw or scale if needed)\n    { payload: motorLedRaw !== 0 } // Output 6 - MotorLed (boolean)\n];\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 540,
        "wires": [
            [
                "5bb2a9b09e7166fc"
            ],
            [
                "da8756ffa7369277"
            ],
            [
                "06981ef2c85a8448"
            ],
            [
                "8a303fd5ac8cf624"
            ],
            [],
            [
                "d763d534edb299f5"
            ]
        ]
    },
    {
        "id": "c00ec45ee3d988b9",
        "type": "inject",
        "z": "f00a2f75f92239ad",
        "name": "Start Value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 675,
        "y": 1380,
        "wires": [
            [
                "ba54712547851fb4"
            ]
        ],
        "l": false
    },
    {
        "id": "66c1da7ac63b8f0e",
        "type": "debug",
        "z": "f00a2f75f92239ad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 1240,
        "wires": []
    },
    {
        "id": "2f97ab33a7fde799",
        "type": "debug",
        "z": "f00a2f75f92239ad",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1240,
        "wires": []
    },
    {
        "id": "477223d0432c445c",
        "type": "function",
        "z": "f00a2f75f92239ad",
        "name": "split right drive",
        "func": "// --- Expect input: msg.payload = [f, p, i, v, extra1, motorLed]\nif (!Array.isArray(msg.payload) || msg.payload.length < 6) {\n    node.error(\"Expected an array of at least 6 values (TagX/TagX2)\", msg);\n    return null;\n}\n\n// Destructure 6 values\nconst [frequency, power, current, voltage, extra1, motorLedRaw] = msg.payload;\n\n// Scale & send each value to its own output\nreturn [\n    { payload: frequency / 100 }, // Output 1 - Frequency\n    { payload: power / 100 },     // Output 2 - Power\n    { payload: current / 100 },   // Output 3 - Current\n    { payload: voltage / 10 },    // Output 4 - Voltage\n    { payload: extra1 },          // Output 5 - Extra value (raw or scale if needed)\n    { payload: motorLedRaw !== 0 } // Output 6 - MotorLed (boolean)\n];\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 720,
        "wires": [
            [
                "1bca76d6bbe1c0dc"
            ],
            [
                "4851a488b4f784e9"
            ],
            [
                "968e4595331163e6"
            ],
            [
                "2c674a6743ed4a73"
            ],
            [],
            [
                "ffc9ac25d888f816"
            ]
        ]
    },
    {
        "id": "1bca76d6bbe1c0dc",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "Right Motor Freq",
        "group": "13816c2f51c27294",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Frequency",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "20",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 490,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a82d5fab19b1305a",
        "type": "ui-slider",
        "z": "f00a2f75f92239ad",
        "group": "dcc0565feb8882f8",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "400",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 230,
        "y": 960,
        "wires": [
            [
                "a43106d6093a29ae"
            ]
        ]
    },
    {
        "id": "a43106d6093a29ae",
        "type": "ui-gauge",
        "z": "f00a2f75f92239ad",
        "name": "",
        "group": "dcc0565feb8882f8",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "1",
        "height": "1",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "bottom-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#a8f5ff",
                "text": "",
                "textType": "value"
            },
            {
                "from": "100",
                "color": "#55dbec",
                "text": "",
                "textType": "value"
            },
            {
                "from": "200",
                "color": "#53b4fd",
                "text": "",
                "textType": "value"
            },
            {
                "from": "50",
                "color": "#2397d1",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "400",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 430,
        "y": 940,
        "wires": [
            []
        ]
    }
]